[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
selenium = "*"
webdriver-manager = "*"
toml = "*"
faker = "*"
sqlalchemy = "*"
pyautogui = "*"
opencv-python = "*"

[dev-packages]
pytest = "*"
pytest-qt = "*"

[requires]
python_version = "3.11"
